[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gevent-websocket = "*"
redis = "*"
Flask = "*"
Flask-Bcrypt = "*"
Flask-Gravatar = "*"
Flask-Limiter = "*"
Flask-Mail = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-SocketIO = "*"
Flask-Testing = "*"
mysqlclient = "*"

[requires]
python_version = "3.6"
