/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@primary-color: #3f51b5;

html, body {
    margin: 0;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.page-header {
    // background-color: @primary-color;
    background-color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    margin-bottom: 15px;

    h1 {
        padding: 0px 35px;
        line-height: 48px;
        display: inline-block;
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .mat-tab-group {
        overflow: auto;

        .mat-tab-header {
            border-bottom: none;
        }

        .mat-tab-body {
            width:100%;
        }

        .mat-tab-body-content {
            overflow: hidden;
        }
    }
}

table {
  width: 100%;
  overflow: auto;
}

.uploadContainer {
  margin-top: 25px;
}

.cardContainer {
  width: 80%;
  min-height: 300px;
  margin: 100px;
}

.stepContainer {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  align-content: flex-start;
  justify-content: left;
  display: flex;
  overflow: visible;
}

.uploadComponentButtonContainer {
  width: 125px;
  height: 50px;
  margin: 15px;
}

.textAreaContainer{
  width: 98%;
  height: 100%;
}

.formContainer {
  min-width: 250px;
  max-width: 750px;
  width: 98%;
  min-height: 250px;
  max-height: 750px;
  height: 100%;
  margin: 5px;
}
