
.example-card {
  width: 100%;
  min-height: 300px;
  margin: 100px;
}

.decodingPage {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadButton {
  width: 175px;
  height: 50px;
  margin: 5px;
}

