<div style="height: calc(100vh - 56px);">
  <div>
    <mat-horizontal-stepper
      labelPosition="bottom"
      #stepper>
      <mat-step
        class="stepContainer">
        <form>
          <ng-template matStepLabel>Füge Audio Dateien hinzu</ng-template>
          <div fxLayout="center center">
            <mat-card class="cardContainer">
              <mat-card-content>
                <div>
                  <h2>Audio Dateien</h2>
                    <table mat-table [dataSource]=allAudios class="mat-elevation-z8">
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="historySelection.hasValue() && isAllSelected()"
                                        [indeterminate]="historySelection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? historySelection.toggle(row) : null"
                                        [checked]="historySelection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                          (click)="historySelection.toggle(row)">
                      </tr>
                    </table>
                    <div class="uploadContainer">
                      <input
                        #file
                        accept=".wav"
                        id="fileInput"
                        style="display:none"
                        type="file"
                        (change)="loadFile(file)" />
                      <button
                        mat-stroked-button
                        class="uploadComponentButtonContainer"
                        onclick="document.getElementById('fileInput').click()">
                        <mat-icon>publish</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div>
              <button
                mat-raised-button
                matStepperNext
                class="uploadComponentButtonContainer"
                color="primary"
                (click)="reloadDecoding()">
                <mat-icon>navigate_next</mat-icon>
              </button>
            </div>
        </form>
      </mat-step>


      <mat-step class="stepContainer">
        <form>
          <ng-template matStepLabel>Überprüfe Audio Dateien</ng-template>
          <div fxLayout="center center">
            <mat-card class="cardContainer">
              <mat-card-content>
                <h2>Audio Dateien</h2>
                <!-- Current File panel -->
                <div>
                  <mat-selection-list
                    #selectionList>
                    <mat-list-option
                      *ngFor='let decodeAudio of currentAudios'
                      [value]="decodeAudio.audio">
                      <p mat-line>
                        <button
                          mat-button
                          color="{{ isPlaying(decodeAudio.audio) ? 'accent' : 'primary' }}"
                          (click)="triggerAudio($event, decodeAudio.audio)">
                          <mat-icon>{{ isPlaying(decodeAudio.audio) ? 'pause_circle_outline' : 'play_circle_outline' }}</mat-icon>
                        </button>
                      {{decodeAudio.audio.name}}</p>
                    </mat-list-option>
                  </mat-selection-list>
                  <audio #audioPlayer
                    [src]="currentlyPlayingAudio?.data | safe:'url'"
                    type="audio/wav"
                    (ended)="stopAudio()">
                  </audio>
                  <button
                    mat-flat-button
                    class="uploadComponentButtonContainer"
                    color="warn"
                    (click)="remove(selectionList.selectedOptions.selected)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <button
              mat-stroked-button
              matStepperPrevious
              class="uploadComponentButtonContainer">
              <mat-icon>navigate_before</mat-icon>
            </button>
            <button
              mat-raised-button
              matStepperNext
              class="uploadComponentButtonContainer"
              color="primary">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>


      <mat-step
        class="stepContainer">
        <ng-template matStepLabel>Starte Spracherkennung</ng-template>
        <ng-container
          *ngIf="{
            audios: audios$ | async,
            project: project$ | async,
            decodeSession: decodeSession$ | async} as overview;">
          <div fxLayout="center center">
            <mat-card class="cardContainer">
              <mat-card-content>
                <h2>Spracherkennung</h2>
                <mat-list>
                  <mat-list-item>
                    <p>Projekt: {{overview?.project?.name}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <p>Modell: {{overview?.project?.acoustic_model.name}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <p>Status: {{overview?.decodeSession?.status | message: 'decodeAudioSession'}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <p>Anzahl Audio Dateien: {{currentAudios?.length}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item *ngFor="let decodeAudio of overview?.decodeSession?.decodings">
                    <p>Audio Dateien: {{decodeAudio.audio.name}}</p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
        <div>
          <button
            mat-stroked-button
            matStepperPrevious
            class="uploadComponentButtonContainer">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button
            mat-raised-button
            class="uploadComponentButtonContainer"
            color="primary"
            [disabled]="!canStartDecodeSession"
            (click)="startDecode()">
            <mat-icon>play_arrow</mat-icon>
            Decode
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
