<div style="height: calc(100vh - 56px);">
  <div>
    <mat-horizontal-stepper
      labelPosition="bottom"
      #stepper>
      <mat-step
        class="stepContainer">
        <form>
          <ng-template matStepLabel>Füge Audio Dateien hinzu</ng-template>
          <div fxLayout="center center">
            <mat-card class="cardContainer">
              <mat-card-content>
                <div>
                  <h2>Audio Dateien</h2>
                    <table mat-table [dataSource]=allAudios class="mat-elevation-z8">
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="historySelection.hasValue() && isAllSelected()"
                                        [indeterminate]="historySelection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? historySelection.toggle(row) : null"
                                        [checked]="historySelection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                          (click)="historySelection.toggle(row)">
                      </tr>
                    </table>
                    <div class="uploadContainer">
                      <input
                        #file
                        accept=".wav"
                        id="fileInput"
                        style="display:none"
                        type="file"
                        (change)="loadFile(file)" />
                      <button
                        mat-stroked-button
                        class="uploadComponentButtonContainer"
                        onclick="document.getElementById('fileInput').click()">
                        Hochladen
                      </button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div>
              <button
                mat-raised-button
                matStepperNext
                class="uploadComponentButtonContainer"
                color="primary"
                (click)="reloadDecoding()">Weiter</button>
            </div>
        </form>
      </mat-step>


      <mat-step class="stepContainer">
        <form>
          <ng-template matStepLabel>Überprüfe Audio Dateien</ng-template>
          <div fxLayout="center center">
            <mat-card class="cardContainer">
              <mat-card-content>
                <h2>Audio Dateien</h2>
                <!-- Current File panel -->
                <div>
                  <mat-selection-list
                    #resources>
                    <mat-list-option
                      *ngFor='let audio of currentAudios'
                      [value]="audio">
                      <p mat-line>{{audio.name}}</p>
                      <audio controls>
                        <source
                          src="playAudioData(audio)"
                          type="audio/wav">
                      </audio>
                    </mat-list-option>
                  </mat-selection-list>
                  <button
                    mat-flat-button
                    class="uploadComponentButtonContainer"
                    color="warn"
                    (click)="remove(resources.selectedOptions.selected)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <button
              mat-stroked-button
              matStepperPrevious
              class="uploadComponentButtonContainer">Zurück</button>
            <button
              mat-raised-button
              matStepperNext
              class="uploadComponentButtonContainer"
              color="primary">Weiter</button>
          </div>
        </form>
      </mat-step>


      <mat-step
        class="stepContainer">
        <ng-template matStepLabel>Start</ng-template>
        <ng-container
          *ngIf="{
            audios: audios$ | async,
            project: project$ | async,
            training: training$ | async } as overview;">
          <div fxLayout="center center">
            <mat-card class="cardContainer">
              <mat-card-content>
                <h2>Spracherkennung</h2>
                <mat-list>
                  <mat-list-item>
                    <p>Projekt: {{overview?.project?.name}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <p>Modell: {{overview?.project?.acoustic_model.name}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <p>Training: {{overview?.training?.version}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <p>Status: {{overview?.training?.status}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <p>Anzahl Audio Dateien: {{overview?.audios?.length}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item *ngFor="let audio of overview?.audios">
                    <p>Audio Dateien: {{audio}}</p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
        <div>
          <button
            mat-stroked-button
            matStepperPrevious
            class="uploadComponentButtonContainer">Zurück</button>
          <button
            mat-raised-button
            class="uploadComponentButtonContainer"
            color="primary"
            (click)="startDecode()">Start</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
