<div fxLayout="center center">
  <ng-container *ngIf="{
    project: project$ | async,
    training: training$ | async,
    decodeSession: decodeSession$ | async,
    sessionLog: decodeSessionLog$ | async } as detail;">
    <mat-card class="cardContainer">
      <mat-card-content>
        <h2>Status Spracherkennung</h2>
        <mat-list>
          <mat-list-item>
            <p>Projekt: {{detail.project?.name}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Modell: {{detail.project?.acoustic_model.name}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Modelltyp: {{detail.project?.acoustic_model.model_type | type: 'acousticModel'}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Modellsprache: {{detail.project?.acoustic_model.language.name}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Training: {{detail.training?.version}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Trainingsstatus: {{detail.training?.status | message: 'training'}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <p>Spracherkennungsstatus: {{detail.decodeSession?.status | message: 'decodeAudioSession'}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Erstellungszeit: {{detail.decodeSession?.creation_timestamp | date: "dd.MM.yyyy"}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <p>Anzahl Audiodateien: {{detail.decodeSession?.decodings.length}}</p>
          </mat-list-item>
          <mat-list-item
            *ngFor='let decoding of detail.decodeSession?.decodings'>
            <mat-list-item>
              <audio #audioPlayer
                [src]="currentlyPlayingAudio?.data | safe:'url'"
                type="audio/wav"
                (ended)="stopAudio()">
              </audio>
              <button
                mat-button
                color="{{ isPlaying(decoding.audio) ? 'accent' : 'primary' }}"
                (click)="triggerAudio($event, decoding.audio)">
                <mat-icon>{{ isPlaying(decoding.audio) ? 'pause_circle_outline' : 'play_circle_outline' }}</mat-icon>
              </button>
              Audio: {{decoding.audio.name}}
            </mat-list-item>
            <mat-list-item>
              Status: {{decoding.audio.status | message: 'audio'}}
            </mat-list-item>
            <mat-list-item
              class="textContainer">
              <button
                mat-button
                (click)="copyToClipboard(decoding.transcripts)">
                <mat-icon>post_add</mat-icon>
              </button>
              Text: {{decoding.transcripts}}
            </mat-list-item>
            <mat-list-item>
            <button
              mat-stroked-button
              class="actionButton"
              (click)="downloadTranscript(decoding.transcripts, decoding.audio.name)">
                <mat-icon>get_app</mat-icon>
            </button>
            </mat-list-item>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
        <div>
          <button
            mat-stroked-button
            class="uploadFile_Button"
            (click)="downloadLog(detail.sessionLog, 'DecodeSessionLog')">
            <mat-icon>get_app</mat-icon>
            Spracherkennung Log
          </button>
          <button
            mat-flat-button
            class="uploadFile_Button"
            color="primary"
            (click)="backToProjectOverview()">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
