.actionButton {
	width: 200px;
  height: 50px;
  margin: 15px;
}

.rightAlign {
  margin-left:auto;
}

.tabGroupHeaderButton {
  height: 48px;
  width: 150px;
  position: absolute;
  right: 5px;
}

.tabBody {
  height: 100%;
}

.listItemContainer {
  height: 125px;
  display: flex;
  align-content: flex-end;
}

.textContainer {
  align-content: initial;
  justify-content: flex-start;
  display: flex;
  width: 200px;
}

.mat-tab-group {
  width: 75%;
  height: 100%;
  overflow: hidden;
}

.matListTextContainer {
  width: 25%;
}
