<div class="page-header" fxLayout="row">
  <h1>Projekt {{uuid}}</h1>
  <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Übersicht
        </ng-template>
        <mat-list>
          <mat-list-item *ngFor='let model of models'>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{model.name}}</h4>
            <p mat-line>{{model.fileResultName}}</p>
            <p mat-line>{{model.date}}</p>
            <button
              mat-flat-button
              color="primary"
              class="tabButton">
              <!-- TODO: ADD download behavior of model files-->
              <mat-icon aria-hidden="false">cloud_download</mat-icon>
            </button>
            <button
              mat-flat-button
              color="accent"
              class="tabButton"
              (click)="openModelOverviewDialog()">
              <!-- TODO add behavior to open extended model overview-->
                <mat-icon aria-hidden="false">open_in_browser</mat-icon>
              </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Texte
        </ng-template>
        <mat-list>
          <mat-list-item *ngFor='let model of models'>
            <h4 mat-line>{{model.name}}</h4>
            <p mat-line>{{model.texte}}</p>
            <button
              mat-flat-button
              color="warn"
              class="tabButton">
              <!-- TODO: ADD behavior to show the encoded text-->
              <mat-icon aria-hidden="false">pageview</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
    <button
    mat-flat-button
    class="tabGroupHeaderButton"
    color="primary"
    (click)="createTraining()"
    >
      <!-- TODO add create new model behavior-->
      <mat-icon aria-hidden="false">add</mat-icon>
    </button>
</div>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav color="primary" #sidenav fxLayout="row" mode="side" opened="true" position="start">
    <div fxLayout="column">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/account">Account</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <!-- page content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
