<div class="page-header" fxLayout="row">
  <ng-container
    *ngIf="{
      project: project$ | async } as overview;">
  <h1>Projekt {{overview?.project?.name}}</h1>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Trainings
        </ng-template>
          <mat-list class="list-content">
            <mat-list-item *ngFor='let training of overview?.project?.trainings'>
              <h4 matLine>Version: {{training.version}}</h4>
              <p matLine>Status: {{training.status}}</p>
              <button
                mat-flat-button
                color="warn"
                class="tabButton"
                (click)="openTraining(training.version, training.status)">
                  Öffnen
              </button>
              <button
                mat-flat-button
                color="accent"
                class="tabButton"
                (click)="createDecode(training.version)">
                  Neue Spracherkennung
              </button>
              <button
                mat-flat-button
                color="primary"
                class="tabButton"
                [disabled]="isDownloadTrainingDisabled(training.status)"
                (click)="downloadTraining(training.version)">
                  Herunterladen
              </button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Spracherkennungen
        </ng-template>
        <mat-list>
          <mat-list-item *ngFor='let decoding of decodings'>
            <h4 matLine>{{decoding.uuid}}</h4>
            <p matLine>{{decoding.transcripts}}</p>
            <button
              mat-flat-button
              color="warn"
              class="tabButton">
                Info
            </button>
            <button
              mat-flat-button
              color="primary"
              class="tabButton">
                Herunterladen
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
    <button
    mat-flat-button
    class="tabGroupHeaderButton"
    color="primary"
    (click)="createTraining()">
      Neues Training
    </button>
  </ng-container>
</div>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav color="primary" #sidenav fxLayout="row" mode="side" opened="true" position="start">
    <div fxLayout="column">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/dashboard">Übersicht</a>
      <a mat-button routerLink="/account">Account</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <!-- page content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
