
.upload-panel {
  width: 33%;
  height: 70%;
  min-width: 20%;
  min-height: 30%;
  max-width: 80%;
  max-height: 100%;
}

table {
  width: 98%;
  margin: 5px;
  float: center;
}

.text-content-form {
  min-width: 250px;
  max-width: 750px;
  width: 98%;
  min-height: 250px;
  max-height: 750px;
  height: 100%;
  margin: 5px;
}

.text-content-full{
  width: 98%;
  height: 100%;
}

.uploadFile_Button {
  width: 25%;
  height: 50px;
  margin: 5px;
  float: right;
}

.panel-divider {
  border-color:lightslategrey;
  height: 91vh;
  border-width: 1px; 
  border-style: inset;
  margin: 15px;
}

.details {
  font-size: 14px;
  margin: auto;
  justify-content: flex-start;
  margin: 0 auto 0 0;
}