.text-content-form {
  min-width: 250px;
  max-width: 750px;
  width: 98%;
  min-height: 250px;
  max-height: 750px;
  height: 100%;
  margin: 5px;
}

.text-content-full{
  width: 98%;
  height: 100%;
}

.uploadButton {
  width: 175px;
  height: 50px;
  margin: 5px;
}

.details {
  font-size: 14px;
  margin: auto;
  justify-content: flex-start;
  margin: 0 auto 0 0;
}

.example-card {
  width: 100%;
  min-height: 300px;
  margin: 100px;
}

.trainingPage {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
