<!-- Upload overview-->
<div style="height: calc(100vh - 56px);">
  <div flex fxLayout="row"
      fxLayoutAlgin="center center"
      fxLayout.xs="column"
      fxLayoutAlign.xs="center stretch">
    <!-- File History panel -->
    <div class="upload-panel" fxFlex="33">
      <h2>History</h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="historySelection.hasValue() && isAllSelected()"
                          [indeterminate]="historySelection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? historySelection.toggle(row) : null"
                          [checked]="historySelection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Upload Column -->
        <ng-container matColumnDef="uploaded">
          <th mat-header-cell *matHeaderCellDef> Uploaded </th>
          <td mat-cell *matCellDef="let element"> {{element.uploaded}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="historySelection.toggle(row)">
        </tr>
      </table>
      <div>
        <button class="uploadSite-Button" mat-flat-button (click)="copy()">Copy</button>
      </div>
    </div>

    <!-- Current File panel -->
    <div class="upload-panel" fxFlex="33">
      <h2>Current</h2>
      <mat-selection-list #files (selectionChange)="handleSelection($event)">
        <mat-list-option
          *ngFor='let file of uploadedFiles' 
          [selected]='file.selected' 
          [value]="file.name">
          {{file.name}}
        </mat-list-option>
      </mat-selection-list><p>
      <div>
        <button type="button" class="uploadSite-Button" mat-flat-button *ngIf="!show" (click)="toggle()">Verify</button>
        <button type="button" class="uploadSite-Button" mat-flat-button *ngIf="show">Start</button>
        <button type="button" class="uploadSite-Button" mat-flat-button (click)="remove(files)" [disabled]="isRemoveDisabled(files)">Remove</button>

        <input #file id="fileInput" type="file" style="display:none" (change)="loadFile(file, files)" />
        <button type="button" class="uploadSite-Button" mat-flat-button onclick="document.getElementById('fileInput').click()">Upload</button>
      </div>
    </div>

    <!-- Preview Text Editor -->
    <div class="upload-panel" fxFlex="33">
      <h2>Preview</h2>
      <form class="text-content-form">
        <mat-form-field class="text-content-full">
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="18" cdkAutosizeMaxRows="18">{{fileContent}}</textarea>
        </mat-form-field>
        <button type="button" class="uploadSite-Button" mat-flat-button [disabled]="shouldSave()">Save</button>
      </form>
    </div>
  </div>
</div>
