<div fxLayout="center center">
  <ng-container *ngIf="{
    project: project$ | async,
    training: training$ | async,
    prepLog: preparationLog$ | async,
    resourceLog: resourceLog$ | async,
    trainingLog: trainingLog$ | async,
    trainingStats: trainingStats$ | async } as detail;">
    <mat-card class="cardContainer">
      <mat-card-content>
        <h2>Status Training</h2>
        <mat-list>
          <mat-list-item>
            <p>Projekt: {{detail.project?.name}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Modell: {{detail.project?.acoustic_model.name}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Modelltyp: {{detail.project?.acoustic_model.model_type | type: 'acousticModel'}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Modellsprache: {{detail.project?.acoustic_model.language.name | language: 'language'}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <p>Training: {{detail.training?.version}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Erstellungsdatum: {{detail.training?.creation_timestamp | date: "dd.MM.yyyy"}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Trainingsstatus: {{detail.training?.status | message: 'training'}}</p>
          </mat-list-item>
          <mat-list-item>
            <p>Anzahl Ressourcen: {{detail.training?.resources?.length }}</p>
          </mat-list-item>
          <mat-list-item
            *ngFor='let resource of detail.training?.resources'>
            <mat-list-item>
              Name: {{resource.name}}
            </mat-list-item>
            <mat-list-item>
            Type: {{resource.resource_type | type: 'resource'}}
            </mat-list-item>
            <mat-list-item>
            Status: {{resource.status | message: 'resource'}}
            </mat-list-item>
            <mat-list-item>
              <button
                mat-stroked-button
                class="uploadFile_Button"
                (click)="downloadLog(detail.resourceLog, resource.name + '_ResourceLog')">
                <mat-icon>get_app</mat-icon>
                Ressourcenprotokoll
              </button>
            </mat-list-item>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <p>Anzahl der Dateien: {{detail.trainingStats?.files_count}}</p>
          </mat-list-item>

          <mat-list-item>
            <p>Anzahl der Textzeilen: {{detail.trainingStats?.lines_count}}</p>
          </mat-list-item>

          <mat-list-item>
            <p>Anzahl der Wörter: {{detail.trainingStats?.words_count}}</p>
          </mat-list-item>

          <mat-list-item>
            <p>Anzahl der eindeutigen Wörter: {{detail.trainingStats?.unqiue_words_count}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
        <div>
          <button
            mat-stroked-button
            class="uploadFile_Button"
            (click)="downloadLog(detail.prepLog, 'PreparationLog')">
            <mat-icon>get_app</mat-icon>
            Aufbereitungsprotokoll
          </button>

          <button
            mat-stroked-button
            class="uploadFile_Button"
            (click)="downloadLog(detail.trainingLog, 'TrainingLog')">
            <mat-icon>get_app</mat-icon>
            Trainingsprotokoll
          </button>

          <button
            mat-flat-button
            class="uploadFile_Button"
            color="primary"
            (click)="backToProjectOverview()">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
<div>
  <mat-card class="cardContainer">
    <mat-card-content>
      <ng-container>
        <h2>Eindeutige Wordliste</h2>
        <div>
          <textarea
            matInput
            placeholder="Hier stehen die eindeutigen Wörter des Trainings"
            readonly=true>
          </textarea>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
