<div>
  <mat-card class="example-card">
    <mat-card-content>
      <ng-container *ngIf="{
        project: project$ | async,
        training: training$ | async } as detail;">
        <h2>Status Training</h2>
        <div>
            <p>Projekt: {{detail.project?.name}}</p>
            <p>Modell: {{detail.project?.acoustic_model.name}}</p>
            <p>Modell: {{detail.project?.acoustic_model.model_type}}</p>
        </div>
        <div>
          <p>Training: {{detail.training?.version}}</p>
          <p>Erstellungszeit: {{detail.training?.creation_timestamp}}</p>
          <p>Trainingsstatus: {{detail.training?.status}}</p>
        </div>
        <div>
          <p>Anzahl der Dateien: {{detail.training?.version}}</p>
          <p>Anzahl der Textzeilen: {{detail.training?.creation_timestamp}}</p>
          <p>Anzahl der Wörter: {{detail.training?.status}}</p>
          <p>Anzahl der eindeutigen Wörter: {{detail.training?.status}}</p>
        </div>
        <div>
          <button
            mat-flat-button
            class="uploadFile_Button"
            color="primary">Zurück zum Training</button>
          <button
            mat-flat-button
            class="uploadFile_Button"
            color="primary">Zurück zur Projektübersicht</button>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>