<mat-card class="tile">
    <mat-card-title>Projekt #{{tileData.uuid}}</mat-card-title>
    <p>{{tileData.name}}</p>
    <p>{{tileData.acousticModel}}</p>
    <p>{{tileData.parent}}</p>
    <div *ngFor="let training of tileData.trainings">
      <span>{{training.number}}:</span>
      <span>{{training.creationTimestamp}}:</span>
      <span [ngClass]="{'color-orange': training.status === 'Running', 'color-green': training.status === 'Done'}">
        {{modelData.status}}
      </span>
    </div>
    <p>{{tileData.creationTimestamp}}</p>
    <button mat-stroked-button routerLink="/project/_" class="tileButton">
      <mat-icon aria-hidden="false" aria-label="Example open project">open_in_new</mat-icon>
    </button>
</mat-card>
