.tile {
    margin: 10px;
    height: 350px;
    width: 325px;
    font-size: 12px;
}

.tileButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.color-orange {
    color: orange;
  }
  
  .color-green {
    color: green;
  }

  .color-red {
    color: red;
  }

  .color-yellow {
    color: yellow;
  }

  .color-grey {
    color: grey;
  }

  .color-blue {
    color: blue;
  }
