<mat-card class="tile">
    <mat-card-title>Projekt #{{tileData.projectNumber}}</mat-card-title>
    <p>{{tileData.projectName}}</p>
    <p>{{tileData.previousTrainedModel}}</p>
    <p>{{tileData.comments}}</p>
    <div *ngFor="let modelData of tileData.model">
      <span>{{modelData.name}}:</span>
      <span [ngClass]="{'color-orange': modelData.status === 'Running', 'color-green': modelData.status === 'Done'}">
        {{modelData.status}}
      </span>
    </div>
    <button mat-stroked-button routerLink="/project/_" class="tileButton">        
      <mat-icon aria-hidden="false" aria-label="Example open project">open_in_new</mat-icon>
    </button> 
</mat-card>