<div style="height: calc(100vh - 56px);">
<mat-toolbar>
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a mat-button class="companyName" routerLink="/">
    <span>Kaldi Customization</span>
  </a>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="/dashboard">Übersicht</a>
    <a mat-button routerLink="/workspace/_">Arbeitsbereiche</a>
    <a mat-button routerLink="/project/_">Projekte</a>
    <a mat-button routerLink="/account">Account</a>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="side" opened="false">
    <div fxLayout="column">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/account">Account</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <!-- page content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
