.newProjectButton {
  width: 150px;
  height: 75px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.tileCardHeader{
  display: flex;
  justify-content: space-between;
}

.cardContentContainer{
  display: flex;
  justify-content: space-between;
}

.tileButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.colorOrange {
  color: orange;
}

.colorGreen {
  color: green;
}

.colorRed {
  color: red;
}

.colorYellow {
  color: yellow;
}

.colorGrey {
  color: grey;
}

.colorBlue {
  color: blue;
}

.tile {
  margin: 10px;
  height: 350px;
  width: 325px;
  font-size: 12px;
}

.tilesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  padding: 10px;
  margin: 50px;
  min-height: 305px;
}
