<div style="height:calc(100vh - 56px);">

  <div
    class="tilesWrapper"
    fxLayout="center center">

    <mat-card class="tile">

        <mat-form-field>
          <input
            matInput
            #projectName
            placeholder="Projektname">
        </mat-form-field>

        <mat-form-field>
          <mat-select
            #modelValue
            placeholder="Akustisches Modell"
            name="model">
            <mat-option
              *ngFor="let model of acousticModels"
              [value]="model">
              {{model.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="newProjectButton"

          (click)="createProject(projectName.value, modelValue.value.uuid)">
            <!-- TODO add behavior to call the api-->
            <mat-icon aria-hidden="false" aria-label="Example add icon">create</mat-icon>
             Projekt
          </button>

    </mat-card>

    <app-tile
      *ngFor="let tile of gridProjectTiles"
      [tileData]="tile"></app-tile>
  </div>

</div>
