<div style="height:calc(100vh - 56px);">
   
  <div 
    class="tilesWrapper"
    fxLayout="center center">

    <mat-card class="tile">

        <mat-form-field>
          <input 
            matInput 
            placeholder="Project name"
            (keyup)="onKey($event)">
        </mat-form-field>
    
        <mat-form-field>
          <mat-select 
            placeholder="Select Trained Model"
            [(ngModel)]="selectedPrevTrain"
            name="model">
            <mat-option 
              *ngFor="let model of prevTrainedModels"
              [value]="model.value">
              {{model.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <button 
          mat-raised-button 
          color="primary" 
          class="newProjectButton"
          
          (click)="newProject()">
            <!-- TODO add behavior to call the api-->
            <mat-icon aria-hidden="false" aria-label="Example add icon">create</mat-icon>
             Projekt
          </button>
    
    </mat-card>

    <app-tile 
      *ngFor="let tile of gridTiles" 
      [tileData]="tile"></app-tile>   
  </div>

</div>
