 p {
  font-family: Lato;
}

.newProjectButton {
  width: 150px;
  height: 75px;
}

.tilesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  padding: 10px;
  margin: 50px;
  min-height: 305px;
}